<?xml version="1.0" encoding="utf-8"?><!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zem.patientcareapp">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".AccountFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ContactsFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ListOfDoctorsFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name=".DoctorActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PatientProfileFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PatientHistoryFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".HomeTileActivity"
            android:theme="@android:style/Theme.Holo.Light"
            launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".MasterTabActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".EditTabsActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PatientMedicalRecordActivity"
            launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light" />

        <activity android:name=".Patient" />
        <activity android:name=".Medicine" />
        <activity android:name=".Doctor" />
        <activity android:name=".PatientRecord" />

        <activity android:name=".FileCache" />
        <activity android:name=".Utils" />
        <activity android:name=".MemoryCache" />
        <activity android:name=".LazyAdapter" />
        <activity android:name=".ImageLoader" />
        <activity android:name=".ProductsFragment" />
        <activity android:name=".DbHelper" />
        <activity android:name=".PatientConsultationActivity" />
        <activity android:name=".PatientConsultationFragment" />
        <activity android:name=".ShoppingCartFragment" />
        <activity android:name=".AppController" />
        <activity android:name=".LruBitmapCache" />
        <activity android:name=".Sync" />
        <activity android:name=".ProductCategory" />
        <activity android:name=".ProductSubCategory" />
        <activity android:name=".Product" />
        <activity android:name=".ProductCategoriesFragment" />
        <activity android:name=".PreloadNonUserRelatedData" />
        <activity android:name=".ServerRequest" />
        <activity android:name=".Basket" />
    </application>

</manifest>
