<?xml version="1.0" encoding="utf-8"?><!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zem.patientcareapp">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".PatientCareApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".Fragment.SignUpFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.AccountFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.ContactsFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.ListOfDoctorsFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.PatientProfileFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.PatientHistoryFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.TrialPrescriptionFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.ShoppingCartFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.ProductsFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.PatientConsultationFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ProductCategoriesFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Fragment.PromoFragment"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!--Activities-->
        <activity
            android:name=".DoctorActivity"
            launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".ViewPagerActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".HomeTileActivity"
            launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".MasterTabActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".EditTabsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".PatientMedicalRecordActivity"
            launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".SelectedProductActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".PatientConsultationActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FileCache" />
        <activity android:name=".Utils" />
        <activity android:name=".MemoryCache" />
        <activity android:name=".LazyAdapter" />
        <activity android:name=".ImageLoader" />
        <activity android:name=".DbHelper" />
        <activity android:name=".AppController" />
        <activity android:name=".LruBitmapCache" />
        <activity android:name=".Sync" />
        <activity android:name=".PreloadNonUserRelatedData" />
        <activity android:name=".ServerRequest" />
        <activity android:name=".ImageItem" />
        <activity android:name=".samplepaypal" />
        <activity android:name=".UploadActivity" />
        <activity
            android:name=".SidebarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light">

        </activity>
        <activity android:name=".HomeTileActivityClone" />


        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
    </application>
</manifest>
