<?xml version="1.0" encoding="utf-8"?><!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zem.patientcareapp">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permission to start Alarm on device reboot -->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".PatientCareApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB5vFUn56wjEfd4TdyQv0u5Kq2ZbvZmIRw" />


        <!--Activities-->
        <activity
            android:name=".MainActivity"
            launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".DoctorActivity"
            launchMode="singleInstance"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".ViewPagerActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".MasterTabActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".EditTabsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".PatientMedicalRecordActivity"
            launchMode="singleInstance"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".SelectedProductActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".ReferralActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".CheckoutActivity"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".PatientConsultationActivity"
            android:theme="@style/Theme.MyTheme" />
        <activity
            android:name=".MessageActivity"
            android:theme="@style/Theme.MyFancyTheme" />
        <activity
            android:name=".OrdersActivity"
            android:theme="@style/Theme.MyTheme" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GoogleMapsActivity"
            android:theme="@style/Theme.MyTheme">
        </activity>


        <activity android:name=".FileCache" />
        <activity android:name=".Utils" />
        <activity android:name=".MemoryCache" />
        <activity android:name=".adapter.LazyAdapter" />
        <activity android:name=".ImageLoader" />
        <activity android:name=".DbHelper" />
        <activity android:name=".AppController" />
        <activity android:name=".LruBitmapCache" />
        <activity android:name=".Sync" />
        <activity android:name=".PreloadNonUserRelatedData" />
        <activity android:name=".ServerRequest" />
        <activity android:name=".ImageItem" />
        <activity android:name=".samplepaypal" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".ProductsActivity" />
        <activity
            android:name=".SidebarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light" />

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />


        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.zem.patientcareapp.AlarmReceiver"
            android:enabled="true" />

    </application>
</manifest>
